@media screen and (max-width: 767px) {
    #header {
        display: flex;
        flex-wrap: wrap;
    }
}

#header-img2 {
    width: 100%;
    margin-left: 0;
}

.logo-paragraph {
    text-align: center;
}

#nav-bar {
    width: 100%;
    margin-right: 0;
}
