* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#page-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    /* border: 2px solid blue; */
    flex-direction: column;
    align-items: center;
}

#header {
    position: fixed;
    width: 100%;
    height: 10rem;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    background-color: rgb(231, 231, 231);
}

#header-img2 {
    display: flex;
    width: 50vw;
    margin-left: 3rem;
    height: 9.7rem;
    /* border: 2px solid orange; */
    align-items: center;
}

.logo {
    max-width: 15rem;
}

.logo-paragraph {
    display: inline-block;
    font-size: 3.5rem;
    font-weight: 600;
    color: rgb(156, 74, 6);
    text-shadow: 6px 4px 9px rgba(206,127,31,0.82);
}

#nav-bar {
    display: flex;
    margin-right: 3rem;
    width: 40vw;
    height: 9.7rem;
    /* border: 2px solid orange; */
    align-items: center;
    justify-content: center;
}

.nav-bar-list {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.nav-link2 {
    list-style-type: none;
    font-size: 1.8rem;
    display: inline-block;
    color: rgb(156, 74, 6);
}

/* Form Section*/

.form-section {
    display: flex;
    width: 100%;
    height: auto;
    /* border: 2px solid red; */
    margin-top: 10rem;
    justify-content: center;
}

.form-div {
    display: flex;
    /* border: 2px solid purple; */
    flex-direction: column;
}

.main-paragraph {

    margin: 1.5rem 0;
    font-size: 2.5rem;
    text-align: center;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#email {
    display: block;
    width: 80%;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
}

input[type="submit"] {
    width: 10rem;
    margin-bottom: 1rem;
    background-color: rgba(255, 128, 0, 0.82);
    color: white;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.submit-paragraph {
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
}

/* Hover */

input[type="submit"]:hover {
    background-color: rgba(228, 78, 19, 0.82);
    box-shadow: 0px 5px 9px 0px rgba(0,0,0,0.45);
}

input[type="email"]:focus {
    outline: 2px solid rgba(255, 128, 0, 0.82);
}

/*main container*/

.main-container {
    display: flex;
    width: 100%;
    height: 100%;
    /* border: 2px solid green; */
    flex-direction: column;
    align-items: center;
}

.product-features {
    display: flex;
    width: 80%;
    height: auto;
    /* border: 2px solid black; */
    flex-direction: column;
    margin-bottom: 4rem;
}

.product-features_boxes {
    display: flex;
    width: 100%;
    height: 15rem;
    /* border: 2px solid brown; */
    align-items: center;
}

/*Div icon and description*/

.icon-container {
    display: flex;
    width: 30%;
    height: 100%;
    /* border: 1px solid rgba(197, 57, 104,1); */
    align-items: center;
    justify-content: center;
}

.icon {
    display: inline-block;
    font-size: 7rem;
    /* border: 1px solid rgba(72, 130, 206, 0.904); */
    color: rgba(231, 120, 9, 0.82);
}

.icon-description {
    width: 100%;
    /* border: 1px solid rgba(72, 130, 206, 0.904); */
}

.icon-description h2 {
    font-size: 2.5rem;
}

.icon-description p {
    font-size: 1.8rem;
}

/*Video*/

.video-container {
    width: 50%;
    height: auto;
    /* border: 1px solid blue; */
    margin-bottom: 4rem;
}

#video {
    width: 100%;
    height: 30rem;
}

/*Guitars and Prices*/
.prices-container {
    display: flex;
    justify-content: space-around;
    width: 85%;
    height: 30rem;
    /* border: 1px solid brown; */
}

.prices-container_boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25rem;
    height: 100%;
    border: 1px solid rgb(0, 0, 0);
}

.product-type {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
    /* border: 1px solid darkorange; */
    background-color: rgba(255, 128, 0, 0.82);
    margin-bottom: 1rem;
}

.product-type p {
    font-size: 2rem;
    font-weight: 700;
}

.prices {
    font-size: 2.5rem;
}

ul li {
    list-style-type: none;
    margin-bottom: 0.5rem;
    font-size: 1.8rem;
}

.button {
    margin: 15px;
    padding: 10px 20px;
    background-color: rgba(255, 128, 0, 0.82);
    font-size: 1.8rem;
}

.footer {
    background-color: rgb(231, 231, 231);
    margin-top: 40px;
    width: 100%;
}

.footer-items {
    padding: 20px;
}

.footer-items > ul {
    display: flex;
    justify-content: flex-end;
}

.footer-items > ul > li {
    margin-left: 15px;
    color: rgb(156, 74, 6);
}

span {
    display: flex;
    justify-content: flex-end;
    font-size: 1.7rem;
    color: rgb(156, 74, 6);
}