@media screen and (min-width: 768px) and (max-width: 1023px) {

    .prices-container{
        display: flex;
        /* border: 1px solid red; */
        width: 100%;
        height: auto;

    }
    .prices-container_boxes{
        margin: 0 5px;
        height: auto;
    }
}